/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.cookie-notice-wrap form {
  margin: 2rem 0;
  display: flex;
  padding-top: 2rem;
}

.cookie-notice-wrap .flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cookie-notice-wrap caption {
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 22px;
  text-align: left;
  border-bottom: 1px solid black;
}

.cookie-notice-wrap th {
  font-size: 18px;
  text-align: left;
  font-weight: 300;
  width: auto;
  line-height: 1.2;
  border: 0;
  padding: 1rem;
  display: block;
  width: 100%;
  padding-bottom: 1rem;
  padding-left: 0;
}

.cookie-notice-wrap td {
  padding: 1rem;
  padding-left: 0;
  padding-top: 0;
  width: 100%;
  display: block;
}

.cookie-notice-wrap table {
  border: 0;
  border-collapse: separate;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .cookie-notice-wrap table {
    width: calc(50% - 2rem);
  }
}

.cookie-notice-wrap tbody {
  border-collapse: inherit;
}

.cookie-notice-wrap tr {
  display: block;
}

.cookie-notice-wrap input[type='text'],
.cookie-notice-wrap textarea {
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  width: 100%;
}

.cookie-notice-wrap input {
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}

.cookie-notice-wrap p {
  margin: 0;
  margin-top: 1rem;
}
